@font-face {
  font-family: "iconfont"; /* Project id 3405026 */
  src: url('./iconfont/iconfont.woff2?t=1653109959912') format('woff2'),
       url('./iconfont/iconfont.woff?t=1653109959912') format('woff'),
       url('./iconfont/iconfont.ttf?t=1653109959912') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tupian:before {
  content: "\e626";
}

.icon-fanhui:before {
  content: "\e624";
}

.icon-sousuo:before {
  content: "\e632";
}

.icon-jiantou1:before {
  content: "\e62b";
}

